[Unit]
Description=Prometheus Monitoring
Wants=network-online.target
After=network-online.target

[Service]
User=root
Restart=on-failure

# Location of the prometheus executable
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus/data \
  --web.listen-address=:9090
ExecReload=/bin/kill -HUP ${MAINPID}

[Install]
WantedBy=multi-user.target
