[Unit]
Description=pprotein service

[Service]
ExecStart=/usr/local/bin/pprotein
WorkingDirectory=/home/{{ ansible_user }}
Environment=PATH=$PATH:/usr/local/bin
Restart=always
User=root

[Install]
WantedBy=multi-user.target
