[Unit]
Description=pprotein-agent service

[Service]
ExecStart=/usr/local/bin/pprotein-agent
WorkingDirectory=/opt/pprotein
Environment=PATH=$PATH:/usr/bin:/usr/local/bin
Restart=always
User=root

[Install]
WantedBy=multi-user.target
